@use "./var";
body {
  // @include var.background("../img/background2");
}

.header {
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    padding: 10px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}
.container {
}
.logo {
}
.logo__image {
}
.nav {
  text-align: center;
  flex-basis: 50%;
}
.nav__list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav__item {
  font-size: 22px;
  font-weight: 500;

  // background-color: #12683b;
  // color: #fffffff1;
  // line-height: 1;
  // border-radius: 7px;
  // padding: 7px;
}
.nav__link {
  outline: var.$opacity 2px solid;
  outline-offset: 4px;
  border-radius: 5px;
  transition:
    color 0.3s ease-in,
    outline-color 0.3s ease-in;
  &:hover {
    color: #ee4621;
  }
  &:focus-visible {
    outline-color: #ee4621;
  }
}

.weather {
  text-align: center;
  &__title {
    margin-bottom: 30px;
    @media (max-width: 450px) {
      font-size: 26px;
    }
  }
  &__wrapper {
    position: relative;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    @media (max-width: 600px) {
      padding: 10px;
    }
  }
  &__form {
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 10px 30px;
    grid-template-columns: max-content 1fr;
    grid-template-areas:
      "client map"
      "coordinates map"
      "date map"
      "additional button";

    @media (max-width: 950px) {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "client client"
        "coordinates date"
        "additional additional"
        "map map"
        "button button";
    }
  }
}

.weather__input {
  margin-bottom: 15px;
}

.return__link {
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 5px;
  background-color: #12683b;
  color: white;
  padding: 5px;

  @media (max-width: 1000px) {
    display: none;
  }
}

.map {
  grid-area: map;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  width: 100% !important;
  // max-width: 600px;
  height: 400px;
  @media (max-width: 950px) {
    // width: 100%;
  }
  @media (max-width: 450px) {
    height: 250px;
  }
}

form {
  margin-bottom: 20px;
}

input,
button {
  padding: 10px;
  // margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Coordinates */
.coordinates {
  grid-area: coordinates;
  display: flex;
  gap: 5px 15px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.coordinates__wrapper {
  display: flex;
  max-width: 180px;
  flex-direction: column;
}

/* Datepicker */
.date {
  grid-area: date;
  display: flex;
  gap: 5px 15px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.date__wrapper {
  display: flex;
  max-width: 180px;
  flex-direction: column;
}

#end-date-label {
  display: none;
}

.additional {
  grid-area: additional;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

input {
  text-align: center;
}

input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Map */
.marker-class {
  position: relative;
  width: 5px;
  height: 5px;
  /* background-color: rebeccapurple; */
  transform: translate(-50%, -100%);

  content: "";

  display: block;
  background-image: url("./../img/pin.svg");
  width: 20px;
  height: 32px;
}
.ymaps3x0--map {
  width: auto !important;
  height: auto !important;
}

.base-temp {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  max-width: 180px;

  &::after {
    top: 0;
    left: 10px;
    line-height: 1;
    position: absolute;
    content: "i";
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 14px;
    height: 14px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    background-color: #007236;
    border-radius: 50%;
    text-align: center;
    cursor: help;
  }
  input {
    padding: 5px;
  }
  span {
    text-underline-offset: 4px;
    text-decoration: underline dotted;
    cursor: help;
  }
}

// Client Data

.client-data {
  grid-area: client;
  display: flex;
  // display: grid;
  // grid-template-columns: repeat(auto-fill, 180px);
  justify-content: space-evenly;

  gap: 5px 15px;
  div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-basis: 50%;
    gap: 5px 15px;
    flex-wrap: wrap;
  }

  @media (max-width: 1180px) {
    grid-template-columns: repeat(2, 180px);
    grid-template-rows: repeat(2, 1fr);
  }
  @media (max-width: 950px) {
    // justify-content: space-around;
    // grid-template-columns: repeat(auto-fit, 180px);
    // grid-template-rows: 1fr;
  }
  @media (max-width: 560px) {
    grid-template-columns: repeat(auto-fill, 180px);
    grid-template-rows: auto;
  }
}

.client-data__label {
  display: flex;
  max-width: 180px;
  flex-direction: column;
}

.client-data__farm {
}
.client-data__name {
}
.client-data__phone {
}

.output {
  display: none;
  padding: 25px 0;
  font-size: 20px;

  p:not(:last-child) {
    margin-bottom: 10px;
  }
  &__title {
    margin-bottom: 20px;
  }
}

.calculate {
  grid-area: button;
  outline-offset: 3px;
  outline: 2px solid var.$opacity;
  background-color: #12683b;
  transition:
    background-color 0.3s ease-in,
    outline-color 0.3s ease-in,
    transform 0.1s ease-in;

  &:hover {
    background-color: #ee4621;
    &:focus-visible {
      outline-color: #ee4621;
    }
  }
  &:focus-visible {
    outline-color: #12683b;
  }
  &:active {
    transform: translateY(2px);
  }
}

.method {
  // font-weight: 600;
  // font-size: 22px;
  // margin-bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 5px 15px;
  align-items: center;
  width: 180px;
  position: relative;
  &::after {
    top: 0;
    left: 10px;
    line-height: 1;
    position: absolute;
    content: "i";
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 14px;
    height: 14px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    background-color: #007236;
    border-radius: 50%;
    text-align: center;
    cursor: help;
  }
  &__label {
    text-underline-offset: 4px;
    text-decoration: underline dotted;
    cursor: help;
  }

  &__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 55px;
    height: 26px;
    cursor: pointer;
    border-radius: 30px;
    border: 3px solid grey;
    cursor: pointer;
    position: relative;
    transition: 0.3s;
  }

  &__input:checked {
    background: #007236;
    border: 3px solid #007236;
  }

  &__input::before {
    content: "";
    position: absolute;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: grey;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    transition: 0.3s;
  }

  &__input:checked::before {
    background: #007236;
    border: none;
    left: 25px;
    background: white;
  }

  &__input:disabled {
    border: 3px solid grey;
    &::before {
      background-color: grey;
    }
  }
}

#graph {
  display: none;
  margin-bottom: 80px;
}

legend {
  font-size: 18px;
  font-weight: 600;
}

.videos {
  display: flex;
  justify-content: space-between;

  figcaption {
    font-size: 20px;
  }
  figure {
    flex-basis: 30%;
    img {
      border-radius: 10px;
      margin-bottom: 20px;
      aspect-ratio: 1 / 1;
      object-fit: cover;
    }
  }
}

/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
.loader {
  display: none;
  margin: 0 auto 25px;
  width: fit-content;
  font-size: 40px;
  line-height: 1.5;
  font-family: system-ui, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #0000;
  -webkit-text-stroke: 1px #000;
  background:
    radial-gradient(1.13em at 50% 1.6em, #007236 99%, #0000 101%) calc(50% - 1.6em) 0/3.2em 100% text,
    radial-gradient(1.13em at 50% -0.8em, #0000 99%, #007236 101%) 50% 0.8em/3.2em 100% repeat-x text;
  animation: loader-animation 2s linear infinite;
}
.loader:before {
  content: "Вычисление";
}
@keyframes loader-animation {
  to {
    background-position:
      calc(50% + 1.6em) 0,
      calc(50% + 3.2em) 0.8em;
  }
}
